<style type="text/css">
</style>
{% set active_page = 'commands'%}
{% extends "layout.html" %}
{% block content %}
    <section id="content1" class="home-section">
		<div class="container">
			<div class="row heading">
				<h5>About Yori</h5>
				<p>Yori started as a project to bring as many features as possible to a public bot. Over time it became clear that Yori could do a lot of things but not as well as we would like, and like every other bot on Discord he was a bit tricky to learn. In the summer of 2018 our primary developer, Dunkledore began the process of rewriting Yori completely with a different outlook on what he would become. Some of the main things we had in mind for this rewrite were:<br>
			  </p>
				<li><b> User Friendly Help Command</b> </li>
				<li><b> Admin and Moderation Commands </b> </li>
				<li><b> Auto-moderation and Spam Prevention</b></li>
				<li><b> Robust, Clean, and Useful Logs</b></li>
			</div>

	</section>
{% endblock %}