{% set active_page = 'commands'%}
{% extends "layout.html" %}
{% block content %}
    <section id="content1" class="home-section">
		<div class="container">
			<div class="row heading">
				<h5>About Yori</h5>
				<p>Yori is an advanced Discord bot being developed by a team of Discord bot enthusiasts. We all really love innovation and wanted to bring a robust set of commands and features to our users. Many of the features we are able to offer are thanks to other developers not even on our team. Because Yori is based on discord.py we have been able to migrate quite a few commands that our users have grown familiar with from the very popular Red Discord bot. To be clear, Yori is not a clone of Red and actually uses a different version of discord.py so when you see familiar commands and features they have been completely rewritten to function on Yori. The bot itself was based on the rewrite of rdanny developed by Rapptz (the same person responsible for discord.py). While we have utilized some of the base structure of robodanny the bot has been very heavily modified to meet our unique needs.</p>
				<h5>Code Credits</h5>
				<p>In instances where we have utilized an existing command or feature we would like to give credit to the original authors for their original work. Again, in all cases the code being used for Yori has been completely rewritten and are now 100% different than when originall introduced to the code community, however we like to give credit where credit is due.</p>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>COG-CREATORS</h5>
					<ul>
						<li>8ball</li>
						<li>rps</li>
						<li>flip</li>
						<li>trivia</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>KOWLIN</h5>
					<ul>
						<li>Antilink</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>MODI</h5>
					<ul>
						<li>Music</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>MADAMJAZZY</h5>
					<ul>
						<li>Social</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>ZEPHYRKUL</h5>
					<ul>
						<li>Skyrim</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>BOBLOY</h5>
					<ul>
						<li>hangman</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>ESLYIUM</h5>
					<ul>
						<li>NSFW</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>SNAPPYDRAGON</h5>
					<ul>
						<li>Lovecalculator</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>ORELS1</h5>
					<ul>
						<li>Steam</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>FLAPJACK</h5>
					<ul>
						<li>Blizzard</li>
						<li>Comics</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>AIKATERNA</h5>
					<ul>
						<li>Riot</li>
						<li>Chatchart</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>AZNSTEVY</h5>
					<ul>
						<li>DiscOmegle</li>
						<li>WhoPlays</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>REDJUMPMAN</h5>
					<ul>
						<li>Anime List</li>
						<li>Cookie</li>
						<li>Fortune</li>
						<li>Pokedex</li>
						<li>Race</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>ULTIMATE PANCAKE</h5>
					<ul>
						<li>Dadjoke</li>
						<li>Exchange</li>
						<li>Typeracer</li>
						<li>Xmasclock</li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-6">
					<h5>TWENTYSIX26</h5>
					<ul>
						<li>Penis</li>
						<li>Rift</li>
					</ul>
				</div>
			</div>


	</section>
{% endblock %}