{% set active_page = 'servers'%}
{% extends "layout.html" %}
{% block content %}
<div id="content1" class="home-section">
    <div class="container ">
        <div class="row heading">
            <h3>Manage Guilds</h3>
        </div>
        <div class="select-style">
            <select name="guildSelector" id="guildSelector">
                <option value="" disabled selected>Select Guild...</option>
                {% for guild in guilds.values() %}
                    <option value="guild{{loop.index}}">{{guild["name"]}}</option>
                {% endfor %}
            </select>
        </div>
        {% for guild in guilds.values() %}
        <form id="{{guild['id']}}" method="POST" action="/servers">
            <div class="group row guild{{loop.index}}">
                <div class="col-sm-2">
                    {% if guild['icon'] %}
                    <img class="guild-icon" src="https://cdn.discordapp.com/icons/{{ guild['id']}}/{{ guild['icon']}}">
                    {% endif %}
                </div>
                <div class="col-sm-10">
                    <h5>{{guild["name"]}}</h5>
                    {% if not guild["has_bot"] %}
                        <a href="https://discordapp.com/oauth2/authorize?client_id=378073671014809612&scope=bot&permissions=268823638" class="btn btn-success btn-lg wow fadeInLeft" data-wow-duration="3s" data-wow-delay="0.2s">Add Yori<br /> <small>To your server</small></a>
                        </div>
                        </div>
                    {% endif %}
                    {% if guild["has_bot"] %}
                    <div>
                        <p>
                            Members : {{guild["member_count"]}}<br>
                            Text Channels : {{guild["text_channels"]}}<br>
                            Voice Channels : {{guild["voice_channels"]}}<br>
                            Members : {{guild["member_count"]}}
                        </p>
                    </div>
                    </div>
                    </div>
                    <div class="row heading group guild{{loop.index}}">
                        <div class="col-sm-12">
                            <h5 style="float: left">Guild Settings</h5>
                            <input id="submit{{loop.index}}" name="submit" type="submit" value="Save">
                            <input id="guild_id" name="guild_id" type="hidden" value="{{guild['id']}}">
                        </div>
                    </div>
                    <div class="row heading group guild{{loop.index}}">
                        <div class="col-sm-4">
                            <h6>Prefixes</h6>
                            <p>
                            {% for prefix in guild["prefixes"] %}
                            <input class="prefix" id="prefix" name="prefix" type="text" value="{{prefix}}">
                            {% endfor %}
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <h6>Administrators</h6>
                            {% if not guild["admins"] %}
                            <p>None</p>
                            {% endif %}
                            {% if guild["admins"] %}
                                <p>
                                    {% for admin in guild["admins"] %}
                                        <img class="user-icon" src="{{admin.avatar_url}}">{{admin.display_name}}<br>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <h6>Moderators</h6>
                            {% if not guild["mods"] %}
                            <p>None</p>
                            {% endif %}
                            {% if guild["mods"] %}
                            <p>
                                {% for admin in guild["mods"] %}
                                        <img class="user-icon" src="{{admin.avatar_url}}">{{admin.display_name}}<br>
                                {% endfor %}
                            </p>
                            </div>
                            {% endif %}
                        </div>

                    </div>
                    {% endif %}
        </form>
        {% endfor %}
</div>
    </section>


{% endblock %}