    {% if not session['user'] %}
        {% set pages = [{'href' : '/', 'name' : 'index', 'display_name' : 'Home'},
                        {'href' : '/commands', 'name' : 'commands', 'display_name' : 'Commands'},
                        {'href' : '/about', 'name' : 'about', 'display_name' : 'About'},
                        {'href' : '/servers', 'name' : 'servers', 'display_name' : 'Servers'},
                        {'href' : '/login', 'name' : 'login', 'display_name' : 'Login'}
                        ]%}
    {% endif %}
    {% if session['user'] %}
        {% set pages = [{'href' : '/', 'name' : 'index', 'display_name' : 'Home'},
                        {'href' : '/commands', 'name' : 'commands', 'display_name' : 'Commands'},
                        {'href' : '/about', 'name' : 'about', 'display_name' : 'About'},
                        {'href' : '/me', 'name' : 'profile', 'display_name' : 'Profile'},
                        {'href' : '/servers', 'name' : 'servers', 'display_name' : 'Servers'},
                        {'href' : '/logout', 'name' : 'logout', 'display_name' : 'Logout'}
                        ]%}
    {% endif %}
    {% set active_page = active_page|default('index')%}
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="" width="150" height="40" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			  <ul class="nav navbar-nav">
				<li><div id="cart"></div></li>
                {% for page in pages %}
				    <li {% if page['name'] == active_page %} class="active" {%endif%} ><a href="{{page['href']}}">{{page['display_name']}}</a></li>
                {% endfor %}

			  </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>
        <!-- /.container -->
    </nav>