<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Web Analytics - Overview</title>
	<!-- stylesheets -->
	<link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/stats.css" rel="stylesheet">

	<!-- scripts -->
	<script src="static/js/jquery-1.10.2.js"></script>
	<script src="static/js/tether.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/canvasjs.min.js"></script>

</head>

<body>
	<!-- page-content-wrapper -->
	<div class="page-content-toggle" id="page-content-wrapper">
		<div class="container-fluid">

			<!-- 1st row -->
			<div class="row m-b-1">
				<div class="col-md-12">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Revenue - 2015 <span class="tag m-l-1" id="revenue-tag">$2,781,450</span></h4>
						<div id="messages-spline-area-chart"></div>
					</div>
				</div>
			</div>
			<!-- /1st row -->

			<!-- 2nd row -->
			<div class="row m-b-1">
				<div class="col-md-12">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Revenue By Category</h4>
						<span class="tag custom-tag hidden-sm-down">Try clicking on any segment</span>
						<div class="row">
							<div class="col-md-4">
								<div id="annual-revenue-by-category-pie-chart"></div>
							</div>
							<div class="col-md-8 hidden-sm-down">
								<div id="monthly-revenue-by-category-column-chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /2nd row -->

			<!-- 3rd row -->
			<div class="row">
				<div class="col-xl-6">
					<div class="card card-block">
						<h4 class="card-title m-b-2">
							<span id="visitors-chart-heading">New vs Returning Visitors </span>
							<button class="btn pull-right invisible" type="button" id="visitors-chart-back-button"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> Back</button>
						</h4>
						<span class="tag custom-tag" id="visitors-chart-tag">Try clicking on any segment</span>
						<div id="visitors-chart"></div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Users</h4>
						<div id="users-spline-chart"></div>
					</div>
				</div>
			</div>
			<!-- /3rd row -->

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /page-content-wrapper -->

</body>
<script>
var messageSplineAreaChart = new CanvasJS.Chart("messages-spline-area-chart", {
		animationEnabled: true,
		backgroundColor: "transparent",
		axisX: {
			interval: 2,
			labelFontColor: "#717171",
			labelFontSize: 16,
			lineColor: "#a2a2a2",
			tickColor: "#a2a2a2",
		},
		axisY: {
			gridThickness: 0,
			includeZero: false,
			labelFontColor: "#717171",
			labelFontSize: 16,
			lineColor: "#a2a2a2",
			tickColor: "#a2a2a2"
		},
		toolTip: {
			borderThickness: 0,
			cornerRadius: 0,
			fontStyle: "normal"
		},
		data: [
			{
				color: "#393f63",
				markerSize: 0,
				type: "splineArea",
				dataPoints: [ {% for month in messages_by_month %} {x: new Date('1 {{month['m']}}'), y: {{month['count']}}},{% endfor %}]

			}
		]
	});
messageSplineAreaChart.render();

</script>

</html>