<!DOCTYPE html>
<html lang="en" xmlns="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Web Analytics - Overview</title>

	<!-- stylesheets -->
	<link href="/static/stats/fonts/font-roboto.css" rel="stylesheet">
	<link href="/static/stats/bootstrap/bootstrap4-alpha3.min.css" rel="stylesheet">
	<link href="/static/stats/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/stats/web-analytics/style.css" rel="stylesheet">

	<!-- scripts -->
	<script src="/static/stats/jquery/jquery-3.1.0.min.js"></script>
	<script src="/static/stats/tether/tether.min.js"></script>
	<script src="/static/stats/bootstrap/bootstrap4-alpha3.min.js"></script>
	<script src="/static/stats/canvas/jquery.canvasjs.min.js"></script>
	<!--<script src="/static/stats/web-analytics/overview.js"></script>-->

</head>

<body>




	<!-- page-content-wrapper -->
	<div class="page-content-toggle" id="page-content-wrapper">
		<div class="container-fluid">

			<!-- 1st row -->
			<div class="row m-b-1">
				<div class="col-md-12">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Total Messages <span class="tag m-l-1" id="revenue-tag">{{ total_messages }}</span></h4>
						<div id="messages-spline-chart"></div>
					</div>
				</div>
			</div>
			<!-- /1st row -->

			<!-- 2nd row -->
			<div class="row m-b-1">
				<div class="col-md-12">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Revenue By Category</h4>
						<span class="tag custom-tag hidden-sm-down">Try clicking on any segment</span>
						<div class="row">
							<div class="col-md-4">
								<div id="messages-by-channel-pie-chart"></div>
							</div>
							<div class="col-md-8 hidden-sm-down">
								<div id="monthly-messages-by-channel-column-chart"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /2nd row -->

			<!-- 3rd row -->
			<div class="row">
				<div class="col-xl-6">
					<div class="card card-block">
						<h4 class="card-title m-b-2">
							<span id="visitors-chart-heading">New vs Returning Visitors </span>
							<button class="btn pull-right invisible" type="button" id="visitors-chart-back-button"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i> Back</button>
						</h4>
						<span class="tag custom-tag" id="visitors-chart-tag">Try clicking on any segment</span>
						<div id="visitors-chart"></div>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="card card-block">
						<h4 class="card-title m-b-2">Users</h4>
						<div id="users-spline-chart"></div>
					</div>
				</div>
			</div>
			<!-- /3rd row -->

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /page-content-wrapper -->

</body>
<script>
		// CanvasJS spline area chart to show revenue from Jan 2015 - Dec 2015
	dataPoints = [ {% for month in messages_by_month %} {x: new Date('1 {{month['m']}}'), y: {{month['count']}}},{% endfor %}]
	var messagesSplineChart = new CanvasJS.Chart("messages-spline-chart", {
		animationEnabled: true,
		backgroundColor: "transparent",
		axisX: {
			interval: 1,
			intervalType: "month",
			labelFontColor: "#717171",
			labelFontSize: 16,
			lineColor: "#a2a2a2",
			tickColor: "#a2a2a2",
			valueFormatString: "MMM YYYY"
		},
		axisY: {
			gridThickness: 0,
			includeZero: false,
			labelFontColor: "#717171",
			labelFontSize: 16,
			lineColor: "#a2a2a2",
			tickColor: "#a2a2a2"
		},
		toolTip: {
			borderThickness: 0,
			cornerRadius: 0,
			fontStyle: "normal"
		},
		data: [
			{
				color: "#393f63",
				markerSize: 0,
				type: "spline",
				dataPoints: dataPoints

			}
		]
	});

	messagesSplineChart.render();

</script>
<script>

		dataPoints = [{% for channel, details in messages_by_channel.items() %}{ y:{{details['count']}},name:'#{{channel.name}}',color:'{{details['colour']}}'},{% endfor %}]
		var messagesByChannelPieChart = new CanvasJS.Chart("messages-by-channel-pie-chart", {
		animationEnabled: true,
		backgroundColor: "transparent",
		legend: {
			fontFamily: "calibri",
			fontSize: 14,
			horizontalAlign: "left",
			verticalAlign: "center",
			itemTextFormatter: function (e) {
				return e.dataPoint.name + ": " + Math.round(e.dataPoint.y / {{ total_messages }} * 100) + "%";
			}
		},
		toolTip: {
			backgroundColor: "#ffffff",
			cornerRadius: 0,
			fontStyle: "normal",
			contentFormatter: function (e) {
				return e.entries[0].dataPoint.name + ": " + e.entries[0].dataPoint.y + " - " + Math.round(e.entries[0].dataPoint.y / {{ total_messages }} * 100) + "%";
			}
		},
		data: [
			{
				cursor: "pointer",
				legendMarkerType: "square",
				showInLegend: true,
				startAngle: 90,
				type: "pie",
				dataPoints: dataPoints
			}
		]
	});
	messagesByChannelPieChart.render()
</script>
<script>

	var dataMonthlyMessagesByChannel = {
		{% for channel, details in messages_by_channel.items() %}
		"{{channel.name}}" : {
			colour: "{{details['colour']}}",
			markerSize: 0,
			name: "#{{channel.name}}",
			type: "column",
			dataPoints: [
				{% for month in details['monthly_breakdown'] %}{x: new Date("1 {{month['m']}}"), y: {{month['count']}}, color:"{{details['colour']}}"},{% endfor %}
				]
			},
			{% endfor %}
			};

	var monthlyMessagesByChannelColumnChart = new CanvasJS.Chart("monthly-messages-by-channel-column-chart", {
		animationEnabled: true,
		backgroundColor: "transparent",
		axisX: {
			interval: 1,
			intervalType: "month",
			labelFontColor: "#717171",
			lineColor: "#a2a2a2",
			tickColor: "#a2a2a2"
		},
		axisY: {
			gridThickness: 0,
			labelFontColor: "#717171",
			lineColor: "#a2a2a2",
			tickColor: "#a2a2a2"
		},
		toolTip: {
			backgroundColor: "#737580",
			borderThickness: 0,
			cornerRadius: 0,
			fontColor: "#ffffff",
			fontSize: 16,
			fontStyle: "normal",
			shared: true
		},
		data: []
	});
	populateMonthlyMessagesByChannelChart()
	monthlyMessagesByChannelColumnChart.render()

	function populateMonthlyMessagesByChannelChart() {
	for (var prop in dataMonthlyMessagesByChannel)
		if  (dataMonthlyMessagesByChannel.hasOwnProperty(prop))
			monthlyMessagesByChannelColumnChart.options.data.push( dataMonthlyMessagesByChannel[prop] );
}




</script>

</html>