{% set active_page = 'index'%}
{% extends "layout.html" %}
{% block content %}
	
	<!-- Section: intro -->
	<section id="intro" class="intro light">
		<div class="intro-content">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6 col-lg-6">
						<div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
							<img src="{{ url_for('static', filename='img/cookie_showcase.png')}}" class="img-responsive" alt=""/>
						</div>
					</div>
					<div class="col-sm-6 col-md-6 col-lg-6 slogan">
						<div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
							<h2>Yori Bot</h2>
							<p>
							Yori-Bot is a highly customisable discord bot with features such welcome messages, custom user profiles and social media integration. 
							</p>
							<p>
							Yori has a very active developement team and, within reasonable limits, we will help you with all aspects of the bot.

							Yori also boasts a full web dashboard for moderation settings along with standard user features such us profile and cookies.
							</p>
						</div>
						<div class="buttons">
							<a href="https://discordapp.com/oauth2/authorize?client_id=378073671014809612&scope=bot&permissions=268823638" class="btn btn-success btn-lg wow fadeInLeft" data-wow-duration="3s" data-wow-delay="0.2s">Add Yori<br /> <small>To your server</small></a>
							<a href="https://discord.gg/SFvZPmE" class="btn btn-info btn-lg wow fadeInLeft" data-wow-duration="3s" data-wow-delay="0.2s">Join<br /> <small>The support server</small></a>
							</small></a>
							<a href="https://discord.gg/SFvZPmE" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-duration="3s" data-wow-delay="0.2s">Login<br/><small>To the dashboard</small></a>
						</div>
					</div>					
				</div>		
			</div>
		</div>		
	</section>
	<section class="dark">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-3 col-xs-6">
					<h1>Guilds</h1>
					<h1><span class="glyphicon glyphicon-home"></span></h1>
					<h2 class="timer count-title count-number" data-to="{{guilds}}" data-speed="2000"></h2>
				</div>
				<div class="col-md-3 col-xs-6">
					<h1>Commands</h1>
					<h1><span class="glyphicon glyphicon-pencil"></span></h1>
					<h2 class="timer count-title count-number" data-to="{{commands}}" data-speed="2000"></h2>
				</div>
				<div class="col-md-3 col-xs-6">
					<h1>Users</h1>
					<h1><span class="glyphicon glyphicon-user"></span></h1>
					<h2 class="timer count-title count-number" data-to="{{members}}" data-speed="2000"></h2>
				</div>
				<div class="col-md-3 col-xs-6">
					<h1>Channels</h1>
					<h1><span class="glyphicon glyphicon-align-justify"></span></h1>
					<h2 class="timer count-title count-number" data-to="{{channels}}" data-speed="2000"></h2>
				</div>
			</div>
		</div>
	</section>
	<section id="content1" class="home-section light">
		<div class="container">
			<div class="row text-center heading">
				<h3>Awesome features</h3>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="wow fadeInLeft" data-wow-delay="0.2s">
						<img src="{{ url_for('static', filename='img/welcome_showcase.png')}}" alt="" class="img-responsive rounded-corners" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="wow fadeInRight" data-wow-delay="0.3s">
						<div class="features">							
							<i class="fa fa-check fa-2x circled bg-skin float-left"></i>
							<h5>Clear command usgae</h5>
							<p>
							All of our commands are conveniently organised into a help menu which can be looked through using reactions
							</p>
						</div>
						<div class="features">							
							<i class="fa fa-check fa-2x circled bg-skin float-left"></i>
							<h5>Customisability</h5>
							<p>
							Fully customisable suit of commands including welcome messages, user profiles, moderation setting, anti-invite and much more
							</p>
						</div>
						<div class="features">							
							<i class="fa fa-check fa-2x circled bg-skin float-left"></i>
							<h5>Regular Updates</h5>
							<p>
							Development on Yori began in September of 2017 and we released the first verion in January 2018. Since then we've aimed for at least monthly updates bringing new features, feature updates and bug fixes.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="works" class="home-section dark">
		<div class="container">
			<div class="row text-center heading dark">
				<h3>Developers</h3>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='img/developers/seneth.png')}}" class="img-responsive" alt="img">
					<h3>Seneth - Project lead</h5>
					<p>Seneth founded the idea of Yori in September 2017 and begun forming a whack team to build it. Now he drives the team forward comes up with new ideas and sanity checks all features
				</div>
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='img/developers/dunkledore.png')}}" class="img-responsive" alt="img">
					<h3>Dunkledore - Developer</h3>
					<p>Dunkledore joined the team shortly aftet its inception and can be credited for many features such as Welcome, Profile and Social Media<p>
				</div>
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='img/developers/sifrid.png')}}" class="img-responsive" alt="img">
					<h3>Sifrid - Developer</h3>
					<p>Sifrid has also been witn Yori from the beginnig and has been working on discord bot for many years and actual can be mostly credited for Yori's predecessor, Noctis. He can be credited for rift, FFXIV and much more</p>
				</div>
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='img/developers/sifrid.png')}}" class="img-responsive" alt="img">
					<h3>Jordan - Developer</h3>
					Although Jordan joined the project after it was well established, his impact has been vast. We always had a plan for a Server-Client option for those who prefer self-hosting and this is where Jordan came in. 
				</div>
				<div class="col-md-4 col-sm-6">
					<img src="{{ url_for('static', filename='img/developers/sifrid.png')}}" class="img-responsive" alt="img">
					<h3>Tweelix - Developer</h3>
					Felix is a newest developer and his arrival came with great excitment. His passion for music naturally led to him to away music cog where he overcame great challenges to cultivate a stable, seamless music provider  
				</div>
			</div>	
		</div>
	</section>
	<section id="callaction" class="home-section paddingtop-40 dark">	
		   <div class="container">
				<div class="row light">
					<div class="col-md-12">
						<div class="callaction">
							<div class="row">
								<div class="col-md-8">
									<div class="wow fadeInUp" data-wow-delay="0.1s">
									<div class="cta-text">
									<h3>Want more features?</h3>
									<p>We are always looking foe ways to improve. If you have bug reports or feature requwsts then please join our support server and let us know.</p>
									</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wow lightSpeedIn" data-wow-delay="0.1s">
										<div class="cta-btn">
										<a href="#" class="btn btn-skin btn-lg">Join The Support Server</a>	
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>	

{% endblock %}

