{% set active_page = 'profile'%}
{% extends "layout.html" %}
{% block content %}
 <section id="content1" class="home-section">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
              <h1>{{ session['user']['username'] }}</h1>
              <img src="https://images.discordapp.net/avatars/{{ session['user']['id']}}/{{ session['user']['avatar']}}.png?size=1024" style="border-radius: 20%; width: 128px">
            </div>
            <div class="col-md-6">
              <h1>Your Connections</h1>
            {% for connection in session['user_connections'] %}
              {% if connection['visibility'] %}
                  <p>
                    <img src="{{ url_for('static', filename='img/connections/'+connection['type']+'.png') }}" style="width: 50px; vertical-align:middle;">
                    {{ connection['name'] }}
                  </p>
              {% endif %}
            {% endfor %}          
          	</div>
        </div>
        {% if session['profile'] %}
	        <div class="row">
	        	<h1>Profile</h1>
	        	<div class="box">
	        		{% if session['profile']['region'] %}
		        		<div class="col-md-6 nopadding">
		        			<h6>Region</h6>
		        			<p>{{session['profile']['region']}}</p>
		        		</div>
	        		{% endif %}
	        		{% if session['profile']['sexuality'] %}
		        		<div class="col-md-6 nopadding">
		        			<h6>Sexuality</h6>
		        			<p>{{session['profile']['sexuality']}}</p>
		        		</div>
	        		{% endif %}
	        		{% if session['profile']['gender'] %}
		        		<div class="col-md-6 nopadding">
		        			<h6>Gender</h6>
		        			<p>{{session['profile']['gender']}}</p>
		        		</div>
	        		{% endif %}
	        		{% if session['profile']['age'] %}
		        		<div class="col-md-6 nopadding">
		        			<h6>Age</h6>
		        			<p>{{session['profile']['age']}}</p>
		        		</div>
	        		{% endif %}
	        		{% if session['profile']['fields'] %}
	        			{% for field in session['profile']['fields'] %}
		        			<div class="col-md-6 nopadding">
		        				<h6>{{field[0]}}</h6>
		        				<p>{{field[1]}}</p>
		        			</div>
	        			{% endfor %}
	        		{% endif %}
	        	</div>
	        </div>
        {% endif %}
		{% if session['profile'] %}
	        <div class="row">
	        	<h1>Profile</h1>
	        	<div class="box">
		        	<form method="POST">
		        		{% if session['profile']['region'] %}
			        		<div class="col-md-6 nopadding">
			        			<h6>Region</h6>
									<select>
									    <option disabled selected value>{{session['profile']['region']}}</option>
									    <option>North America</option>
									    <option>South America</option>
									    <option>Europe</option>
									    <option>Asia</option>
									    <option>Africa</option>
									    <option>Oceania</option>
									</select>
			        			</p>
			        		</div>
		        		{% endif %}
		        		{% if session['profile']['sexuality'] %}
			        		<div class="col-md-6 nopadding">
			        			<h6>Sexuality</h6>
			        			<input readonly id='sexuality' value="{{session['profile']['sexuality']}}">
			        			<span id='sexuality_glyph' class="glyphicon glyphicon-pencil" onclick="editInput('sexuality', 'sexuality_glyph')"></span>
			        		</div>
		        		{% endif %}
		        		{% if session['profile']['gender'] %}
			        		<div class="col-md-6 nopadding">
			        			<h6>Gender</h6>
			        			<input readonly id='gender' value="{{session['profile']['gender']}}">
			        			<span id='gender_glyph' class="glyphicon glyphicon-pencil" onclick="editInput('gender', 'gender_glyph')"></span>
			        		</div>
		        		{% endif %}
		        		{% if session['profile']['age'] %}
			        		<div class="col-md-6 nopadding">
			        			<h6>Age</h6>
			        			<input id='age' type="number" value="{{session['profile']['age']}}">
			        		</div>
		        		{% endif %}
		        		{% if session['profile']['fields'] %}
		        			{% for field in session['profile']['fields'] %}
			        			<div class="col-md-6 nopadding">
			        				<h6>{{field[0]}}</h6>
			        				<input placeholder="{{field[1]}}">
			        			</div>
		        			{% endfor %}
		        		{% endif %}
		        		<input type="submit">
		        	</form>
	        	</div>
	        </div>
        {% endif %}
        <div class="row">
          <h1>Your Servers</h1>
          <div class="box">
	          <p>
	            {% for guilds in session['guilds'] %}
	                {% if guilds['id'] != None %}
	                	{% if guilds['icon'] != None %}
	             <img src="https://cdn.discordapp.com/icons/{{ guilds['id']}}/{{ guilds['icon']}}" style="border-radius: 50%; width: 90px">
	              {% endif %}
	              {% endif %}
	              {% endfor %}
	          </p>
          </div>
      </div>

      </section>

{% endblock %}

